@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <input type="submit" asp-page-handler="" value="列表" />
    <input type="submit" asp-page-handler="Paged" value="分页查询" />
    <input type="submit" asp-page-handler="Insert" value="插入" />
</form>
@if (Model.list != null)
{
    foreach (var item in Model.list)
    {
        <div>@item.Id</div>
    }
}